*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    background-color: #1f1f1f;


}
a{
    color: #ffff;
    text-decoration: none;

}
.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 10%;
    /* background: slateblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;


}
.navbar .logo{
    font-size: 30px;
    font-weight: 700;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    margin-left: 35px;
    transition: 0.5s;
}
.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
}
.navbar ul li:hover a,
.navbar ul li.active a{
    color: greenyellow;

}
.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: #ffff;

}
.home-info h1{
    font-size: 55px;

}
.home-info h2 {
    font-size: 35px;
    margin-top: -10px;

}
.home-info .btn-sci{
    display: flex;
    align-items: center;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    background: rgb(44, 222, 44);
    border:2px solid rgb(44, 222, 44);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    font-weight: 600;
    box-shadow: 0 0 10px rgb(44, 222, 44);
    margin-top: 20px;
    transition: .5s;
}
.btn:hover{
    background: transparent;
    color: rgb(44, 222, 44);
    box-shadow: none;
    

}
.sci a{
    height:24px;
}
.home-info .btn-sci .sci{
    margin-left: 20px;

}
.home-info .btn-sci .sci a{
    height: 40px;
   
    display: inline-flex;
    align-items: center;
    padding: 8px;
    border: 2px solid rgb(37, 214, 37);
    border-radius: 50%;
    font-size: 20px;
    color: greenyellow;
    margin: 0 8px;
    
}
.home-info .btn-sci .sci a:hover{
    color: #1f1f1f;
    background: greenyellow;
    box-shadow: 0 0 10px greenyellow;
}

.home-img .img-box{
    width: 35vw;
    height: 35vw;
    border: none;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 200px;
}




.home-img .img-box .img-item {
    width: 100%;
    height: 100%;
    /* background: #c2cac2; */
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.home-img .img-box .img-item img{
    position: absolute;
    display: block;
    width: 85%;
    top: 20px;
    object-fit: cover;
    mix-blend-mode: lighten;
   

}
